.headerNav__items {
    display: flex;
    list-style: none;
}

.headerNav__item1 {
    flex-grow: 1;
}

.headerNav__item2 {
    flex-grow: 2;
}
.headerNav__item3 {
    flex-grow: 2;
}


footer {
    background-color: red;
    bottom: 0%;
    }

.footerNav__items{
    display: flex;
    list-style: none;
    justify-content: center;
    /* text-align: center;
    align-items: center; */
}


.footerNav__item {
    font-size: large;
    margin: 1em;;
}
